
.title {
    font-size: 24px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
  }
  .titleContact {
    font-size: 24px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  